<!DOCTYPE html>
<html>
<head>
  <title>Select Stream</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
  <h2>Select Stream</h2>
  <img 
        src="{{ url_for('static', filename='images/banner.jpg') }}" 
        alt="Home Banner"
        style="width:100%; max-height:350px; object-fit:cover;"
    >
  <div class="card-grid">
    {% for stream in streams %}
  <div class="card">
    <a href="/subjects/{{ stream }}">{{ stream }}</a>
  </div>
{% endfor %}

  </div>
</div>

</body>
</html>

